:root {
  --primaryColor: #7e489d;
  /* primary color is used to record hue info to generate other colors */
  --lineColor: black;
  /* darkest color for line-constructed shapes */
  --blockColor: white;
  /* a series lighter than line color for buttons */
  --blockColorLight: white;
  --blockColorLighter: white;
  --areaColor: white;
  /* the lightest color for backgrounds */
  --serifFont: Constantia, 'Times New Roman', Times, serif;
  --sansSerifFont: OpenSans, Arial, Helvetica, sans-serif;
  --monospaceFont: consolas, 'Lucida Console', Monaco, monospace;
  -webkit-text-size-adjust: none;
}

body {
  background-color: var(--areaColor);
  font-family: var(--serifFont);
  margin: 0;
}

button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: unset;
  font: unset;
  text-align: center;
  transition: background 100ms ease-in-out, transform 100ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: var(--blockColorLighter);
}

button:active {
  background-color: var(--blockColor);
}

::selection {
  background-color: var(--lineColor);
  color: white;
}

@media (max-width: 1024px) {
  :root {
    font-size: 4vw;
  }

  .kiwi-sidebar {
    margin-left: 20px;
    margin-right: 20px;
  }

  .item-flow {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .item-content {
    font-size: 1rem;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }

  html {
    scroll-behavior: smooth;
  }

  .kiwi-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    float: left;
    padding-left: 20px;
    max-width: 500px;
    width: calc((100% - 750px) / 2 - 40px);
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .item-flow {
    margin: 0 auto;
    padding-top: 40px;
    width: 750px;
  }

  .item-content {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@keyframes horizontal-flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

.kiwi-sidebar-switch {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  color: var(--lineColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.kiwi-sidebar-switch:hover {
  color: var(--blockColor);
  cursor: pointer;
}

.item {
  margin-bottom: 25px;
  background-color: white;
  /* padding: 10px; */
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
}

.graphviz-diagram {
  text-align: center;
}

.item-content img,
frame {
  display: block;
  margin: auto;
  max-width: 100%;
}

.item-tags {
  display: flex;
  min-height: 28px;
}

.item-link {
  color: var(--lineColor);
  text-decoration: none;
}

.item-link:hover {
  text-decoration: underline;
}

.item-link-missing {
  font-style: italic;
}

.item-controls {
  float: right;
}

.item-header-name {
  flex: 0 0 20%;
}

.item-uri-edit,
.item-header-name,
.item-title-edit {
  display: flex;
  flex-direction: column;
}

.item-uri-edit input {
  font-family: var(--sansSerifFont);
}

@media (max-width: 1024px) {
  .item-uri-edit input,
  .item-title-edit input {
    height: 12vw;
  }
}

@media (min-width: 1024px) {
  .item-uri-edit input,
  .item-title-edit input {
    height: calc(100% - 2px);
  }
}

.item-uri-edit input,
.item-header-name input,
.item-title-edit input {
  font-size: 1.6rem;
  padding-left: 10px;
  outline: none;
  border: none;
}

.item-uri-edit input:hover,
.item-header-name input:hover,
.item-title-edit input:hover {
  outline: none;
}

.item-uri-edit input:focus,
.item-header-name input:focus,
.item-title-edit input:focus {
  outline: none;
}

.item-uri-edit::after,
.item-header-name::after,
.item-title-edit::after {
  content: '';
  width: 75%;
  height: 2px;
  background-color: var(--blockColorLight);
  transition: width 400ms ease-in-out, background-color 400ms ease-in-out;
}

.item-uri-edit:hover::after,
.item-header-name:hover::after,
.item-title-edit:hover::after {
  width: 100%;
}

.item-uri-edit:focus-within::after,
.item-header-name:focus-within::after,
.item-title-edit:focus-within::after {
  background-color: var(--lineColor);
  width: 100%;
}

.kiwi-edit-item-content {
  height: 400px;
}

.kiwi-edit-item-content::-webkit-resizer {
  width: 100% !important;
  box-shadow: inset;
  background: red;
}

.site-title {
  padding-top: 60px;
  margin-bottom: 10px;
}

.page-controls {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sidebar-search-button,
#new-item-button {
  width: 40px;
}

.kiwi-active-list-item {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  margin: 0;
  padding-left: 10px;
  cursor: default;
  color: var(--lineColor);
  font-family: var(--serifFont);
}

.kiwi-active-list-item:hover {
  background: var(--blockColorLighter);
}

@font-face {
  font-family: OpenSans;
  src: url('/kiwi/ui/webfont/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Constantia;
  src: url('/kiwi/ui/webfont/constan.ttf');
}

@font-face {
  font-family: Constantia;
  src: url('/kiwi/ui/webfont/constanb.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Constantia;
  src: url('/kiwi/ui/webfont/constani.ttf');
  font-style: italic;
}

@font-face {
  font-family: Constantia;
  src: url('/kiwi/ui/webfont/constanz.ttf');
  font-weight: bold;
  font-style: italic;
}

mjx-container,
pre {
  overflow: auto;
}

pre {
  background: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

code {
  font-size: 1rem;
  font-family: var(--monospaceFont);
  line-height: 1.375rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

mjx-container[display='true'] {
  display: block;
  text-align: center;
}
