body {
  background-color: blanchedalmond;
}

.item-flow {
  margin: 0 auto;
  width: 750px;
}

.item {
  margin-top: 50px;
  background-color: white;
}

.item-edit, .item-save {
  float: right;
  width: 40px;
  cursor: hand;
}

.edit-item-title {
  padding: 20px;
  font-size: large;
}

.edit-item-content {
  height: 400px;
}
