.kiwi-indextree-item {
  min-height: 1.4rem;
  font-size: 0.9rem;
  font-family: var(--serifFont);
  cursor: default;
  color: var(--lineColor);
  display: flex;
  align-items: center;
  animation: fade-in 0.25s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kiwi-indextree-item:hover {
  background-color: var(--blockColorLighter);
}

.kiwi-indextree-frontblock {
  height: 1.4rem;
  width: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.7rem;
  text-align: center;
  color: rgb(96, 94, 92);
}

.kiwi-indextree-hovereffect {
  width: 100%;
}

.kiwi-indextree-hovereffect:hover {
  background-color: var(--blockColor);
}
