@media (max-width: 641px) {
  .kiwi-primary-button {
    height: 12vw;
    width: 34vw;
    font-size: 7.5vw;
  }
}

@media (min-width: 641px) {
  .kiwi-primary-button {
    height: 40px;
    width: 140px;
    /* font-size: 25px; */
  }
}

.kiwi-primary-button {
  background-color: var(--lineColor);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
}
