.kiwi-pivot-tabname {
  display: flex;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .kiwi-pivot-button {
    height: 12vw;
  }
}

@media (min-width: 1024px) {
  .kiwi-pivot-button {
    height: 40px;
  }
}

.kiwi-pivot-button {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  color: var(--lineColor);
  align-items: center;
  box-sizing: border-box;
}

.kiwi-pivot-button::after {
  content: "";
  width: 0;
  height: 2px;
  transition: width 250ms ease-in-out;
}

.kiwi-pivot-button:hover {
  background-color: var(--blockColorLighter);
}

.kiwi-pivot-button.active::after {
  content: "";
  background-color: var(--lineColor);
  width: 100%;
  height: 2px;
  transition: width 250ms ease-in-out;
}

.kiwi-pivot-button.active:hover::after {
  width: calc(100% + 16px);
}