.kiwi-contextual-menu-item {
  display: flex;
  padding-right: 10px;
  cursor: pointer;
  width: calc(100% - 10px);
  align-items: center;
  color: var(--lineColor);
}

.kiwi-contextual-menu-item:hover {
  background-color: var(--blockColorLighter);
}

.kiwi-contextual-menu-item:active {
  background-color: var(--blockColor);
}

@media (max-width: 1024px) {
  .kiwi-contextual-menu-item-icon {
    height: 12vw;
    width: 12vw;
    font-size: 1.2rem;
  }

  .kiwi-contextual-menu-item-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .kiwi-contextual-menu-item-icon {
    width: 40px;
    height: 40px;
  }
}

.kiwi-contextual-menu-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kiwi-contextual-menu-item-text {
  display: flex;
  justify-content: left;
  align-items: center;
}
