.kiwi-searchbox-wrapper {
  border-style: solid;
  height: 32px;
  width: 100%;
  border-color: var(--blockColor);
  box-sizing: border-box;
  transition: border-color 0.167s ease 0s;
}

.kiwi-searchbox-wrapper:hover {
  border-color: var(--blockColorLighter);
}

.kiwi-searchbox-wrapper:focus-within {
  border-color: var(--lineColor);
}

.kiwi-searchbox-wrapper input {
  outline: none;
  height: 100%;
  font-family: var(--sansSerifFont);
  float: right;
  border: none;
  width: calc(100% - 32px);
  box-sizing: border-box;
  transition: width 0.167s ease 0s;
}

.kiwi-searchbox-wrapper input:focus {
  width: 100%;
}

.kiwi-searchbox-wrapper .kiwi-searchbox-icon-wrapper {
  height: 100%;
  width: 32px;
  float: left;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lineColor);
  background-color: white;
  opacity: 1.0;
  transition: opacity 0.167s ease 0s,
    width 0.167s ease 0s;
}

.kiwi-searchbox-wrapper:focus-within .kiwi-searchbox-icon-wrapper {
  opacity: 0;
  width: 0px;
}

.kiwi-search-item {
  font-size: 15px;
  font-family: var(--sansSerifFont);
  margin: 0;
  padding: 3px 0px 3px 10px;
  cursor: default;
}

.kiwi-search-item:hover {
  background-color: var(--blockColorLighter);
}
