@media (max-width: 641px) {
  .kiwi-searchbox-wrapper {
    height: 2rem;
  }

  .kiwi-searchbox-wrapper .kiwi-searchbox-icon-wrapper {
    width: 8vw;
  }

  .kiwi-searchbox-clear-wrapper {
    width: 8vw;
  }
}

@media (min-width: 641px) {
  .kiwi-searchbox-wrapper {
    height: 32px;
  }

  .kiwi-searchbox-wrapper .kiwi-searchbox-icon-wrapper {
    width: 32px;
  }

  .kiwi-searchbox-clear-wrapper {
    width: 32px;
  }
}

.kiwi-searchbox-wrapper {
  display: flex;
  flex-direction: row;
  border-style: solid;
  width: 100%;
  border-color: var(--blockColor);
  box-sizing: border-box;
  transition: border-color 0.167s ease 0s;
}

.kiwi-searchbox-wrapper:hover {
  border-color: var(--blockColorLighter);
}

.kiwi-searchbox-wrapper:focus-within {
  border-color: var(--lineColor);
}

.kiwi-searchbox-wrapper input {
  outline: none;
  height: 100%;
  font-size: 1rem;
  font-family: var(--sansSerifFont);
  float: right;
  flex-grow: 1;
  border: none;
  box-sizing: border-box;
  transition: width 0.167s ease 0s;
}

.kiwi-searchbox-wrapper .kiwi-searchbox-icon-wrapper {
  height: 100%;
  float: left;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lineColor);
  background-color: white;
  opacity: 1;
  transition: opacity 0.167s ease 0s, width 0.167s ease 0s;
}

.kiwi-searchbox-clear-wrapper {
  height: 100%;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lineColor);
  background-color: white;
}

.kiwi-searchbox-clear-wrapper:hover {
  background-color: var(--blockColorLighter);
}

.kiwi-searchbox-clear-wrapper:active {
  background-color: var(--blockColor);
}

.kiwi-searchbox-wrapper:focus-within .kiwi-searchbox-icon-wrapper {
  opacity: 0;
  width: 0px;
}

.kiwi-search-item {
  font-size: 1rem;
  font-family: var(--sansSerifFont);
  margin: 0;
  padding: 3px 0px 3px 10px;
  cursor: default;
}

.kiwi-search-item:hover {
  background-color: var(--blockColorLighter);
}
